{% extends 'base.html' %}
{% block search %}
		<form class="navbar-form navbar-left" method="GET" action="">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}">
	        </div>
	        <button type="submit" class="btn btn-default">Search</button>
      </form>
{% endblock %}
{% block content %}


	            <CENTER>

			          <div class="inner cover">
			            <h1 class="cover-heading"> Cursos.com... te da la Bienvenida : <b>{{ request.session.userr  }}</b></h1>
	            	
	            	
	          			</div>
	            </CENTER>
	          


			<br>
			<br>
			<center>
	          	
		            <p class="lead">
		            Te invitamos a iniciar un curso
		            </p>
		            <p class="lead">
		              

							
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Agregar Curso</button>

				
	              		
		            </p>
	         
	          </center>
			<style type="text/css">
	       			.row{
	       				margin-left: 55px;
	       				
	       			}

	       		</style>
	          	<div class="row">
	          {% for i in alistar  %}

 

	          	<div  id='aaa' class="btn btn-default" style="margin-bottom: 16px; margin-left: 17px;">
						
				          	<div class="col-md-5" style="
				          	background-image: url('media/{{i.imagen}}');
				          	background-size: 100% 100%;
				          	width: 250px;
				          	height: 240px;
				          	


				          	">
				          	
				          	<a class='btn btn-danger' href="#" onclick="window.location.href='/{{i.codigo}}'"
				          	>Eliminar</a>
				          	<a class='btn btn-danger' href="#" onclick="window.location.href='/mostrarcapitulos/{{i.codigo}}'"
				          	>Mostrar</a>
				          	<h2 > {{ i.name }} </h2>
				          	</div>

						
	 			</div>		
	          	

	
				{% endfor %}
	          </div>
	          




<!-- popup para agregar curso -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Agregando Nuevo Curso</h4>
      </div>
      <div class="modal-body">
        <!--  -->
<form method="post" enctype="multipart/form-data" >
{% csrf_token %}
				
				<table>
					<tr>
						<td>nombre</td>
						<td>{{ frm.name }}	
							{{ frm.name.errors }}
						</td>
					</tr>
					<tr>
						<td>descripcion</td>
						<td>{{ frm.descripcion }}	
							{{ frm.descripcion.errors }}
						</td>
					</tr>
					<tr>
						<td>Selecionar Imagen</td>
						<td>{{ frm.imagen }}	
							{{ frm.imagen.errors }}
						</td>
					</tr>
										<tr>
						<td>Selecionar </td>
						<td>{{ fr.nombre }}	
							{{ fr.nombre.errors }}
						</td>
					</tr>

				</table>
        	<button type="submit" class="btn btn-primary">Aceptar</button>
        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</form>
        <!--  -->
      </div>
    </div>
  </div>
</div>



<br>
<div class="text-center">
		<nav aria-label="Page navigation">
		  <ul class="pagination">
		    <li>
		     {% if alistar.has_previous %}
            <a aria-label="Previous" href="?page={{ alistar.previous_page_number }}&q={{ request.GET.q }}"><b>
            Anterior</b></a> <span aria-hidden="true">&laquo;</span>
        	{% endif %}
		    </li>
		    <li><a href="">Page {{ alistar.number }} of {{ alistar.paginator.num_pages }}. </a></li>
		    
		    <li>
		    {% if alistar.has_next %}
            	<a aria-label="Next" href="?page={{ alistar.next_page_number }}&q={{ request.GET.q }}"><b>Siguiente</b>
            	</a><span aria-hidden="true">&raquo;</span>
        	{% endif %}
		      
		    </li>
		  </ul>
		</nav>
</div>

	{% endblock %}

	{% block footer %}
	{% endblock %}